.navbar {
    background-color: grey
    !important;
}
body {
    margin-top: 72px;
    background-color: ;
}
li{
    padding-top: 10px;
}
h4 {
    padding-top: 50px;
}
h2 {
    Padding-top:50px;
}
.virtually {
    background-color: #197BBD;
}
.physically {
    background-color:brown;
}